:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.nav-link {
  margin-left: 40px;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
  padding: 0 200px;
}

#supportHero a {
  color: white;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

#supportHero input {
  padding: 10px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}